p.submit {
	margin: 0;
	padding: 0;
	grid-column: span 2;
}

.st-sale-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #e1e1e1;
	padding: 0 1rem;
	border-radius: 4px;
}

.st-sale-item p:first-child {
	font-weight: 600;
}

.st-form-item input,
.st-form-item textarea {
	padding: 4px 1rem;
}
